{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
			<div class="row ">
						<form  method="POST">
                            {% csrf_token %}
                                <h2 class="text-center">
                                    MENTION SOMETHINGS YOU DID WHILE WORKING ON PROJECT <b><em>{{ project.name }}</em></b>
                                </h2>
                                <div class="col-md-12">
                                        {{ form.body }}
                                </div>
                            <br>
                            <div class="col-md-12">
                                <div class="submit-button text-center">
                                    <button class="btn btn-primary"  type="submit">ADD.</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
						</form>

                <div class="col-md-12">
                    <div class="submit text-center">
                            <a href="{% url 'resume:preview_resume' pk=project.resume.pk %}">PREVIEW RESUME</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

