{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
			<div class="row ">
						<form  method="POST">
                            {% csrf_token %}
                                <h2 class="text-center">
                                    MENTION SOMETHINGS YOU DID WHILE WORKING IN <b><em>{{ work.company_name }}</em></b>
                                </h2>
                                <div class="col-md-12">
                                        {{ form.body }}
                                </div>
                            <br>
                            <div class="col-md-12">
                                <div class="submit-button text-center">
                                    <button class="btn btn-primary"  type="submit">ADD MORE</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
						</form>
                <div class="spread">
                     <a href="{% url 'resume:add_work' pk=work.resume.pk %}">ADD WORK EXPERIENCE</a>
                    <a href="{% url 'resume:preview_resume' pk=work.resume.pk %}">PREVIEW RESUME</a>
                </div>

            </div>
        </div>

{% endblock content %}

