{% extends 'base.html' %}
{% load static %}

{% block content %}
  <br><br>
<div id="form">
<div class="container">
			<div class="row ">
						<form class="form-group" method="POST">
                            {% csrf_token %}
                            <h5 class="text-center">ADD AN EDUCATIONAL DETAIL TO BOOST YOUR <b>"{{ resume.name }}"</b> RESUME</h5>
                                <div class="col-md-12">
                                        {{ form.as_p }}
                                </div>
                            <br>
                            <div class="col-md-12">
                                <div class="submit-button text-center">
                                    <button " type="submit">ADD</button>
                                </div>
                            </div>
						</form>
                 <div class="spread">
                   <a href="{{ resume.get_preview }}">PREVIEW RESUME</a>
                </div>
            </div>
        </div>

</div>

{% endblock content %}