{% extends 'base.html' %}
{% load static %}

{% block content %}
  <br><br>
<div id="form">
<div class="container">
			<div class="row ">
						<form  method="POST">
                            {% csrf_token %}
                            <h2 class="text-center">ADD A WORK EXPERIENCE TO BOOST YOUR <b>"{{ resume.name }}"</b> RESUME</h2>
                                <div class="col-md-12">
                                        {{ form.as_p }}
                                </div>
                                <h5>Dont worry about putting the correct day if you dont remeber, only the year and month will be displayed.</h5>

                            <br>
                             <p class="col-md-12 text-center">
                                    <button  type="submit">ADD</button>
                                <div class="text-center">
                                    <a href="{{ resume.add_education }}">ADD EDUCATION DETAILS</a>
                                    |
                                    <a href="{{ resume.get_preview }}">PREVIEW RESUME</a>
                                </div>
                            </p>
						</form>
            </div>
        </div>

</div>

{% endblock content %}