{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<br><br>
<div class="form-group">
     <div class="container " >
            <div class="row">
                <form  class="form-control" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                     <center><button type="submit" id="form-submit" class="btn btn-primary">CREATE...</button></center>
                </form>
                {% endif %}
            </div>
     </div>
</div>


{% endblock content %}