{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<br><br>
<div id="form">
<div class="">
     <div class="container " >
            <div class="row">
                <form  class="form-group" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                     <p class="text-center">
                         <button type="submit" id="form-submit" class="btn btn-primary">CREATE...</button>
                     </p>
                </form>

            </div>
     </div>
</div>
</div>

{% endblock content %}