<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resumadmin BACKEND DEVELOPER</title>
    <link rel="stylesheet" href="/static/styling/bootstrap.css"/>
    <link rel="stylesheet" href="/static/styling/bootstrap.min.css"/>
    <style>
        p{
        font-size: 15px;
        }
        .tech h1{
          text-align: left;
        }

        .tech ul{
          text-align: left;
          font-size: 15px;
          font-weight: 500;
          margin-left: 70px;
        }

    </style>
</head>
<body style="margin: 50px 5%; padding: 5%;">

    <h2 style="text-align: center; font-size: 18px;"><b>BACKEND DEVELOPER</b></h2>
 <hr>
    <h2 style="text-align: center; font-size: 18px;">
        Bello Victor
    </h2>


<ul style="margin-top: 0; font-size: 12px;">
    <li style="margin: 0;">L 23, Olorunsogo Basiri Ado Ekiti, Ekiti.</li>
    <li style="margin: 0;">+2348156205789</li>
    <li style="margin: 0;">resum@admin.com </li>
    <li style="margin: 0;">P.O.BOX: 360101</li>
    <li style="margin: 0;"><a href="https://www.linkedin.com/in/victor-bello-a36208213/">LINKEDIN</a></li>
    <li style="margin: 0;"><a href="https://github.com/vbello-tech">GITHUB </a></li>
    <li style="margin: 0;"><a href="http://vbellotech.herokuapp.com/">PORTFOLIO</a></li>
</ul>
<hr>
<h3 style="text-align: center;">
    PROFESSIONAL BIO
</h3>
<p style="font-size: 15px; letter-spacing: 1px;">
    A very good backend dev
</p>


<hr>
<h3 style="text-align: center;">
    WORK HISTORY
</h3>

<p>
    
    <b>WEB MANAGER,</b>  Jan. 2, 1991-Feb. 2, 1997
    
    <br>
    <b>PMI</b> - Akure, Ondo State
    <ul style="margin-top: 0; font-size: 15px;">
        <li>
            I worked on the lms for trainin g new volunteers
        </li>
    </ul>
</p>




<hr>
<h3 style="text-align: center;">
    PROJECTS
</h3>

<p>
    <b>RENDAPP</b>
    <br>
    <a style="margin-right: 20px;" href="https://github.com/vbello-tech/RENDAPP">SOURCE CODE</a>|<a style="margin-left: 20px;"  href="https://rendapp.up.railway.app/">PROJECT</a>
    <ul style="margin-top: 0; font-size: 15px;">
        <li>
            A webapp to help users find service providers in thier communities
        </li>
    </ul>
</p>


<hr>



<hr>

        <div class="tech">
             <h4>SKILLS </h4>
                <ul>
                    
                </ul>
        </div>


<center><h2>THIS RESUME WAS CREATED WITH RESUME BUILDER BUILT BY: <a href="http://vbellotech.herokuapp.com/">VBELLOTECH</a></h2></center>

    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>