{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br><br><br>
<div class="container">
        <div class="developer">
            <ul>
                <li class="dev"><b>BELLO VICTOR</b></li>
                <li class="dev"><b>SOFTWARE ENGINER</b></li>
                <li>vbellotech@gmail.com </li>
                <li><a href="vbellotech.herokuapp.com">PORTFOLIO</a></li>
                <li><a href="#">GITHUB </a></li>
                <li><a href="#">LINKEDIN</a></li>
            </ul>
        </div>
<hr>
        <div class="resume">
            <span>BIO</span>
            <p>
               A VERY INTERESTING YOUNG MAN READY TO WORK FOR YOUR COMPANY.
            </p>

        </div>
        <hr>
        {% if projects %}
        <span class="topic">PORTFOLIO</span>
        {% endif %}
        {% for project in projects %}
        <div class="portfolio">
            <h1>RENDAPP</h1>
            <p>
                <em>A WEBSITE WHERE YOU CAN FIND AND CONNECT TO SERVICE PROVIDERS IN YOUR AREA</em>
            </p>
            <ul>
                {% for item in project.project.all %}
                <li>I WORKED WITH A LOT OF LIBRARIES</li>
                <li>I WORKED WITH A LOT OF APIS</li>
                {% endfor%}
            </ul>
            <div class="pr_li">
                <a href="#">github link</a>
                {% if project.link %}
                <a href="#">project link</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
<hr>

        {% if works %}
        <span class="topic">WORK HISTORY</span>
        {% endif %}
        {% for work in works %}
        <div class="portfolio">

            {% if work.end_date %}
            <h1>CLEMENT ( MAY 2017-MAY 2019 )</h1>
            {% else %}
            <h1>CLEMENT ( MAY 2017-CURRENT )</h1>
            {% endif %}
            <p>
                <em>WE REAPIR PHONES HERE</em>
            </p>
            <ul>
                {% for item in work.work.all %}
                <li>HOW TO REPAIR PHONE</li>
                <li>HOW TO REPAIR LAPTOP</li>
                {% endfor%}
            </ul>
        </div>
        <hr>
        {% endfor %}

        <div class="tech">
             <h1>SKILLS (languages, frameworks, library, databases)</h1>
                <ul>
                    <li>PYTHON</li>
                    <li>HTML</li>
                    <li>PYTHON</li>
                    <li>HTML</li>
                </ul>
        </div>
         <div class="tech">
             <h1>OTHER SKILLS</h1>
                <ul>
                    <li>PYTHON</li>
                    <li>HTML</li>
                    <li>PYTHON</li>
                    <li>HTML</li>
                </ul>
        </div>

</div>

{% endblock content %}