<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayomide BackEndDeveloper</title>
    <link rel="stylesheet" href="/static/styling/bootstrap.css"/>
    <link rel="stylesheet" href="/static/styling/bootstrap.min.css"/>
    <style>
        p{
        font-size: 15px;
        }
        .tech h1{
          text-align: left;
        }

        .tech ul{
          text-align: left;
          font-size: 15px;
          font-weight: 500;
          margin-left: 70px;
          margin-top: 0;
        }

    </style>
</head>
<body style="margin: 50px 10%; padding: 10%;">
    <h4 style="text-align: center; font-size: 18px;">
        Bello Victor, BackEndDeveloper RESUME
    </h4>
<ul style="margin-top: 0; font-size: 12px;">
    <li style="margin: 0;">L 23, Olorunsogo Basiri Ado Ekiti, Ekiti.</li>
    <li style="margin: 0;">+2349038264724</li>
    <li style="margin: 0;">vbellotech@gmail.com </li>
    <li style="margin: 0;">P.O.BOX: 360101</li>
    <li style="margin: 0;"><a href="https://www.linkedin.com/in/victor-bello-a36208213/">LINKEDIN</a></li>
    <li style="margin: 0;"><a href="https://github.com/vbello-tech">GITHUB </a></li>
    <li style="margin: 0;"><a href="https://vbellotech.pythonanywhere.com/">PORTFOLIO</a></li>
</ul>
<hr>
<h3 style="text-align: center;">
    PROFESSIONAL BIO
</h3>
<p style="font-size: 12px; letter-spacing: 0.5px; margin-right: 20px;">
    I am a student passionate about backend development and interested in integration of technology in geology and geosciences. Proficient in Python and Django and currently expanding my horizon by learning Go, I aim to merge technology with earth sciences. Seeking internship opportunities in startups, I thrive in innovative environments where creativity and problem-solving meet. Eager to contribute my technical skills and enthusiasm to impactful projects, I&#x27;m driven to make a difference at the intersection of technology and geosciences.
</p>

<hr>
<h3 style="text-align: center;">
    WORK HISTORY
</h3>

<p style="margin: 0;">
    
    <em>WEB MANAGER (VOLUNTEER),</em> Aug, 2022-Current
    
    <br>
    <em>PIONEER MEDICAL INITIATIVE</em> - Akure, Ondo State
    <ul style="margin: 0; font-size: 12px;">
        <li>
            Worked on the LMS used that is to be used for training new curators. Worked on the backend of one of the projects of the company. Assisted in onboarding new curators to the company
        </li>
    </ul>
</p>



<hr>
<h3 style="text-align: center;">
    PROJECTS
</h3>

<p style="margin: 0;">
    <em>BackEndGuru</em><br>
    <a style="margin-right: 20px; font-size: 10px;" href="https://github.com/vbello-tech/BackEndGuru">SOURCE CODE</a>
    <ul style="font-size: 12px;">
        <li>
            <h6 style="font-size: 10px;">A webapp for backend developers to participate in challenges.</h6>
        </li>
    </ul>
</p>

<p style="margin: 0;">
    <em>SESSIONS</em><br>
    <a style="margin-right: 20px; font-size: 10px;" href="https://github.com/vbello-tech/SESSIONS">SOURCE CODE</a>
    <ul style="font-size: 12px;">
        <li>
            <h6 style="font-size: 10px;">An api to help businesses schedule sessions with users.</h6>
        </li>
    </ul>
</p>

<p style="margin: 0;">
    <em>RESUMA</em><br>
    <a style="margin-right: 20px; font-size: 10px;" href="https://github.com/vbello-tech/RESUMA">SOURCE CODE</a>
    <ul style="font-size: 12px;">
        <li>
            <h6 style="font-size: 10px;">A web app that allows users to create resume. Users can generate resume link and also convert resume to pdf.</h6>
        </li>
    </ul>
</p>


<hr>

        <h3 style="text-align: center;">
    EDUCATION
</h3>
        
        <p style="margin: 0;">

            <em>Federal University of Technology, Akure</em>(
                Nov, 2019
                    -
                 In progress
                )
            <ul>
                <li><h5>Course: Applied Geology (BSC APPLIED SCIENCES)</h5></li>
                <li><h5>Address: Akure, Ondo state, Nigeria</h5></li>
            </ul>
       </p>
        <hr>
        
    
        <div class="tech">
             <h4>SKILLS </h4>
                <ul>
                    
                    <li style="font-size: 10px; margin: 0;">Python</li>
                    
                    <li style="font-size: 10px; margin: 0;">Django</li>
                    
                    <li style="font-size: 10px; margin: 0;">PostgreSQL</li>
                    
                    <li style="font-size: 10px; margin: 0;">HTML</li>
                    
                    <li style="font-size: 10px; margin: 0;">CSS</li>
                    
                    <li style="font-size: 10px; margin: 0;">Docker</li>
                    
                    <li style="font-size: 10px; margin: 0;">Talwind CSS</li>
                    
                </ul>
        </div>
<center><h2>THIS RESUME WAS CREATED WITH RESUME BUILDER BUILT BY: <a href="http://vbellotech.herokuapp.com/">VBELLOTECH</a></h2></center>
</body>
</html>