{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>

<div class="container">
        <div class="developer">
            <ul>
                <li class="dev"><b>{{ user.last_name }} {{ user.first_name }}</b></li>
                <li class="dev"><b>{{ resume.name }}</b></li>
                <li>{{ user.email }} </li>
                <li><a href="{{ userp.portfolio }}">PORTFOLIO</a></li>
                <li><a href="{{ userp.github }}">GITHUB </a></li>
                <li><a href="{{ userp.linkedin }}">LINKEDIN</a></li>
            </ul>
        </div>
<hr>
        <div class="resume">
            <span>BIO</span>
            <p>
                  {{ userp.bio|linebreaksbr	}}

            </p>

        </div>
<hr>
    {% if education %}
        <span class="topic">EDUCATION</span>
        {% for school in education %}
        <div class="portfolio">

            <h1>{{ school.school_name }} ( {{ school.enrollment_date }}-{{ school.graduation_date }} )</h1>
            <ul>
                <li>Course: {{ school.course }} ({{ school.field }})</li>
                <li>Location: {{ school.location }}</li>
            </ul>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
<hr>
    {% if projects %}
        <span class="topic">PORTFOLIO</span>
        {% for project in projects %}
        <div class="portfolio">
           <h1>{{ project.name }}</h1>
           <p>
                <em>{{ project.description|linebreaksbr	}}</em>
            </p>
            <ul>
                {% for item in project.project.all %}
                <li>{{ item.body }}</li>
                {% endfor%}

            </ul>
            <div class="pr_li">
                <a href="{{ project.github }}">github link</a>
                {% if project.link %}
                <a href="{{ project.link }}">project link</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
<hr>

    {% if works %}
        <span class="topic">WORK HISTORY</span>
        {% for work in works %}
        <div class="portfolio">

            {% if work.end_date %}
            <h1>{{ work.company_name }} ( {{ work.start_date }}-{{ work.end_date }} )</h1>
            {% else %}
            <h1>{{ work.company_name }} ( {{ work.start_date }}- CURRENT )</h1>
            {% endif %}
            <p>
                <em>{{ work.company_description|linebreaksbr	}}</em>
            </p>
            <ul>
                {% for item in work.work.all %}
                <li>{{ item.body }}</li>
                {% endfor%}
            </ul>
        </div>
        <hr>
        {% endfor %}
    {% endif %}
<hr>

        <div class="tech">
             <h4>SKILLS </h4>
                <ul>
                    {% for item in resume.skills.all %}
                    <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
        </div>
    </div>

{% endblock content %}