{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div id="form">
     <div class="container " >
            <div class="row">

<h2 class="btn btn-primary">YOU ARE ABOUT TO CHANGE YOUR USER DETAILS</h2>
                <form  class="form-group" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                     <p class="text-center">
                         <button type="submit" id="form-submit" class="btn btn-primary">EDIT...</button><br>
                        <a class="text-center" href="{% url 'user:change_password' %}">CLICK HERE TO CHANGE PASSWORD</a>
                     </p>
                </form>
            </div>
     </div>
</div>


{% endblock content %}