{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>LOGIN</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
      <h2>LOGIN..</h2>

            {% if user.is_authenticated %}
                YOU ARE SIGNED IN ...
            {% else %}
            <form id="comment" action="{% url 'resume:login' %}" method="POST">
                {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        {{ form.username }}
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        {{ form.password }}
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <button class="red-bg brd-rd3" type="submit">SIGN IN</button>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <a class="sign-btn" href="#" title="" itemprop="url">Not a member? Sign up</a>
                        <a class="recover-btn" href="#" title="" itemprop="url">Recover my password</a>
                    </div>
                </div>
            </div>
            </form>
            <a  href="#">Forget Password ?</a><a  href="#">SIGN UP</a>
            {% endif %}

{% endblock content %}