{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<br><br>
<div id="form">
     <div class="container " >
            <div class="row">

                {% if user.is_authenticated %}
<h2 class="btn btn-primary">YOU ARE ABOUT TO CHANGE YOUR PROFILE DETAILS</h2>
                <form  class="form-group" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                     <p class="text-center">
                         <button type="submit" id="form-submit" >EDIT...</button>
                     </p>

                </form>

                {% endif %}
            </div>
     </div>
</div>


{% endblock content %}