{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br><br>
<div class="form-group">
     <div class="container " >
            <div class="row">

                {% if user.is_authenticated %}
                    YOU ARE SIGNED IN ...
                {% else %}

                <form  class="form-control" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                     <center><button type="submit" id="form-submit" class="btn btn-primary">SIGNUP</button></center>
                </form>
                <center>Have an account? <a  href="{% url 'resume:login' %}">LOGIN</a></center>

                {% endif %}
            </div>
     </div>
</div>

{% endblock content %}