:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.nav-container {
  width: 100%;
  background-color: var(--darkgray);
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: var(--white);
  justify-self: start;
  margin-left: 20px;
}

#navbar-logo {
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  font-size: 20px;
}

.nav-links {
  color: white;
  text-decoration: none;
}

.nav-links:hover {
  color: var(--brightred);
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  background-color: var(--brightred);
  padding: 6px 16px;
  border-radius: 4px;
}

.nav-links-btn:hover {
  background-color: transparent;
  color: var(--white);
  padding: 5px 15px;
  border-radius: 4px;
  border: solid 1px var(--brightred);
  transition: all 0.3s ease-out;
}

.menu-togle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-out;
  background: var(--white);
}
 
.welcome {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 40px 20px;
  height: 80vh;
  align-items: center;
  padding: 0 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome .welcome-speech {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  padding: 20px 0px;
  text-align: left;
}

.welcome .welcome-speech .welcome-intro{
  width: 100%;
  height: 50%;
  margin-top: 150px;
  padding: 0;
  text-align: left;
}

.welcome .welcome-speech .welcome-intro h1{
  font-weight: bolder;
  text-transform: uppercase;
  text-align: left;
}

.welcome .welcome-speech .welcome-intro p{
  font-weight: bold;
}

.welcome .welcome-speech .welcome-intro a {
  display: inline-block;
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  padding: 0px 10px;
  transition: all 0.3s;
  border: 1px solid black;
  text-decoration: none;
  margin-top: 40px;
}

.welcome .welcome-speech .welcome-intro a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.welcome .welcome-image {
  width: 100%;
  margin-left: 20px;
  height: 100%;
  padding: 2%;
}

.welcome .welcome-image img{
  width: 100%;
  height: 85vh;
  border-radius: 20px 20px 0px 0px;
}

section {
  margin:60px 50px ;
}

h1 {
  text-align: center;
  align-items: center;
  margin-top: 80px;
  font-size: 1em;
}

section .reason {
  height: 70vh;
  display: flex;
  padding: 5px 20px;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px 20px;
}

section .reason img{
  height: 60vh;
  width: 50%;
  object-fit: contain;
  object-position: center;
}

section .reason .text{
  display: inline-block;
  justify-content: space-between;
  align-items: left;
  width: 50%;
  padding: 40px;
}

section .reason .text h2{
  margin: 40px 50px;
  font-size: 30px;
}

section .reason .text p{
  font-size: 20px;
}

.build {
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20vh;
  font-weight: bold;
}

.build a{
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  padding: 10px 50px;
  transition: all 0.3s;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.submit {
    margin-top: 40px;
}

.submit a{
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  padding: 10px 20px;
  transition: all 0.3s;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.selectdatewidget {
    display: inline-block;
}

select[name$="_day"].selectdatewidget {
    width: 30%;
    color: red;
}
select[name$="_month"].selectdatewidget {
    width: 40%;
    color: green;
}
select[name$="_year"].selectdatewidget {
    width: 45%;
    color: blue;
}

.spread {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.spread a {
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    padding: 10px 50px;
    transition: all 0.3s;
    border: 1px solid black;
    text-decoration: none;
    cursor: pointer;
}

footer {
   width: 100%;
    background-color: black;
    height: 30vh;
    color: white;
    align-items: center;
    padding: 20px 50px;
    bottom: 0;
    margin-top: 60px;
}


footer  ul{
  display: flex;
  justify-content: center;
  align-content: space-between;
}

footer ul li{
  list-style: none;
  font-size: 20px;
}

footer ul li a{
  text-decoration: none;
  color:whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  border-radius: 20px 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: auto;
  transition: ease-in-out 0.5s;
}

footer p{
  color:whitesmoke;
  font-size: 20px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-bottom: 2px;
}

.developer {
  font-size: 20px;
}

.developer ul li{
  list-style: circle;
}

.developer ul li .dev{
  font-size: 30px;
}

.resume span{
  font-size: 30px;
  font-weight: 700;
}

.topic{
  font-size: 30px;
  font-weight: 700;
}
.resume p{
  font-size: 25px;
  font-weight: 500;
  margin-left: 30px;
}

.portfolio {
  margin: 20px 0;
}

.portfolio h1{
  text-align: left;
}

.portfolio p{
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  margin-left: 30px;
}

.portfolio ul{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-left: 60px;
}

.portfolio .pr_li{
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-left: 80px;
}

.portfolio .pr_li a{
  margin-right: 40px;
}

.tech h1{
  text-align: left;
}

.tech ul{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin-left: 70px;
}

.form-group {
    margin: 0 80px 0 80px;
    font-weight: 600;
}

.form-group .form-control {
    border-radius: 10px;
    border: 1px solid black;
}

.form-group button {
    display: inline-block;
    color: #ffffff;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    padding: 10px 15px;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }

    .form-group {
        margin: 0 10px 0 10px;
    }
  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--brightred);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    height: 80vh;
    transition: all 0.5s ease-out;
  }

  #navbar-logo {
    margin-left: 20px;
  }

  .nav-menu.active {
    background: var(--darkgray);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--white);
    color: var(--darkgray);
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--darkgray);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--brightred);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-togle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-togle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  footer {
    text-align: left;
    font-size: 15px;
    height: 60vh;
  }
  footer ul{
    display: inline;
    justify-content: center;
    align-content: space-around;
  }

  footer ul li{
    padding: 20px 6px;
    list-style: none;
    font-size: 15px;
  }

  footer p{
    color:whitesmoke;
    font-size: 15px;
  }

  
  .welcome {
    width: 100%;
    height: 80vh;
    display: inline-block;
    justify-content: space-evenly;
    color: black;
    margin: 0 20px 20px 5px;
  }

  .welcome .welcome-image {
      width: 100%;
      height: 50%;
      align-items: left;
      margin-left: 0;
      margin-top: 100px;
  }
  .welcome .welcome-image img{
      object-fit: cover;
      object-position: center;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
  }
  .welcome .welcome-speech {
      display: inline-block;
      justify-content: space-between;
      width: 100%;
      height: 50%;
  }

  .welcome .welcome-speech .welcome-intro{
      width: 100%;
      height: 50%;
      margin-top: 150px;
      display: inline-block;
      justify-content: space-between;
      padding: 0;
  }
    
  section .reason {
    width: 100%;
    height: 70vh;
    display: inline-block;
    justify-content: space-evenly;
    margin: 50px 5px;
  }
    
  section {
    margin:20vh 50px ;
  } 
  section .reason img{
    height: 50vh;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  section .reason .text{
    display: inline-block;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    padding: 10px;
    height: 20vh;
  }
    
  section .reason .text h2{
    margin: 20px 5px;
    font-size: 30px;
  }
    .spread {
        display: flexbox;
        align-items: left;
        justify-content: space-around;
        margin: auto;
    }

    .spread a {
        background-color: black;
        color: #ffffff;
        border-radius: 10px;
        -webkit-transition: all 0.3s;
        padding: 6px 15px;
        transition: all 0.3s;
        border: 1px solid black;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }
}
