<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styling/style.css' %}/">
    <link rel="stylesheet" href="{% static 'styling/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'styling/bootstrap.min.css' %}"/>
    <title>RESUME BUILDER</title>
</head>

<body>
    <div class="nav-container">
        <nav class="navbar">
            <h1 id="navbar-logo">RESUME</h1>
            <div class="menu-togle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'resume:home' %}" class="nav-links">HOME</a></li>
                <li><a href="{% url 'resume:user_resume' %}" class="nav-links">RESUME</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'resume:logout' %}" class="nav-links nav-links-btn">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'resume:login' %}" class="nav-links nav-links-btn">LOGIN</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>


{% block content %}

{% endblock content %}


<footer>
        <ul>
            <li>
                <a href="#">LINKEDIN</a>
            </li>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">TWITTER</a>
            </li>
        </ul>
    <hr>
    <p>
        Copyright  ©  vbellotech
    </p>
</footer>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>