{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="welcome">
        <div class="welcome-speech">
            <div class="welcome-intro">
                <h1> CREATE ASTONISHING RESUME IN MINUTES.</h1>
                <p>
                    OUR AIM IS TO HELP THAT NEWBIE TECHIE LAND A ROLE IN TECH WITH A WELL STRUCTURED AND PROFESSIONAL RESUME.
                </p>
                 <a href="{% url 'resume:sign_up' %}">
                    <h3>SIGNUP</h3>
                </a>
           </div>
        </div>
        <div class="welcome-image">
            <img src="{% static 'images/Img-CV-B_2x.png' %}" alt="no image"/>
        </div>
    </div>
</div>

 <div class="container-fluid">
<div class="build">
    START BUILDING YOUR RESUME TODAY AND LAND YOUR ROLE IN TECH.
    <br><br>
    <a href="{% url 'resume:add_resume' %}">CREATE RESUME</a>
</div>
 </div>
    <div class="container">
    <section>
        <div class="reason">
            <img src="{% static 'images/CV_Builder_2x.png' %}">
            <div class="text">
                <h2>EASY TO USE</h2>
                <p>
                    Our builder is well structured to give you ease while building your resume in lesser time.
                </p>
            </div>
        </div>
        <div class="reason">
            <img src="{% static 'images/Export_PDF_2x.png' %}">
            <div class="text">
                <h2>CONVERT TO PDF</h2>
                <p>
                    Convert and download your resume in pdf format to aplly for jobs.
                </p>
            </div>
        </div>
        <div class="reason">

            <img src="{% static 'images/Resources_2x.png' %}">
            <div class="text">
                <h2>MULTIPLE RESUME</h2>
                <p>
                    Create multiple instances of the same resume for multiple roles and interview.
                </p>
            </div>
        </div>
        <div class="reason">
            <img src="{% static 'images/share-2x.png' %}">
            <div class="text">
                <h2>SHARE </h2>
                <p>
                    Generate resume link that you can share via email or through social media to land that tech role.
                </p>
            </div>
        </div>
    </section>
</div>

<div class="build">
    START BUILDING YOUR RESUME TODAY AND LAND YOUR ROLE IN TECH.
    <br><br>
    <a href="{% url 'resume:add_resume' %}">CREATE RESUME</a>
</div>

{% endblock content %}