
body {
    font-family: "Open Sans", sans-serif;
    color: #212529;
  }

  /*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: black;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: white;
  text-decoration: none;
}

#main {
  margin-top: 72px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  margin-right: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px 10px 18px;
  font-size: 15px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar li:hover>a {
  color: black;
  background-color: white;
  border-radius: 20px;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: white;
  color: black;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 50px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: black;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 6px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  color: black;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: black;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(92, 91, 91, 0.9);
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: black;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: black;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    background: white;
    border-bottom: 2px solid rgb(195, 193, 193);
    margin: 72px 0 -72px 0;
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: black;
  }

  #hero h2 {
    color: black;
    margin: 15px 0 0 0;
    font-size: 24px;
  }

  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: black;
    text-decoration: none;
  }

  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 991px) {
    #hero {
      height: calc(100vh - 72px);
    }

    #hero .animated {
      animation: none;
    }

    #hero .hero-img {
      text-align: center;
    }

    #hero .hero-img img {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }

    #hero .hero-img img {
      width: 70%;
    }
  }

  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  }

  @media (max-height: 600px) {
    #hero {
      height: 120vh;
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-bg {
    background-color: #fef8f5;
  }

  .section-title {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    margin-top: 6vh;
  }


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

section .box{
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 1px 10px;
    height: 70vh;
    padding: 5%;
}

section .box img{
    object-fit: contain;
    object-position: center;
    height: 80%;
    width: 100%;
	  overflow: hidden;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: white;
    font-size: 14px;
    background: black;
  }

  #footer .footer-newsletter {
    padding: 50px 0;
    text-align: center;
    font-size: 15px;
  }

  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: white;
  }

  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 4px;
    width: calc(100% - 100px);
  }

  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: black;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
  }

  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }

  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #1f1f1f;
  }

  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: black;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .footer-top .social-links a:hover {
    background: black;
    color: #fff;
    text-decoration: none;
  }

  #footer .copyright {
    text-align: center;
    float: left;
  }

  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #212529;
  }

  #footer .credits a {
    color: #af8e80;
  }

  @media (max-width: 575px) {

    #footer .copyright,
    #footer .credits {
      float: none;
      -moz-text-align-last: center;
      text-align-last: center;
      padding: 3px 0;
    }
  }


.contact_section{
	width: 100%;
	float: left;
}
.contact_main {
    width: 100%;
    float: left;
    height: auto;
    padding-bottom: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.contact_text{
	width: 100%;
	float: left;
	font-size: 40px;
	color: white;
	text-align: center;
}


.enput_section {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
}

.email_box {
  width: 100%;
  float: left;
  /* background-color: #ffffff; */
  /* border-radius: 20px; */
  height: auto;
  /* padding: 50px 20px; */
  /* opacity: 0.80; */
}
.form-group {
  margin-bottom: 2rem;
}
.email-bt {
  color: #000000;
  width: 100%;
  height: 55px;
  font-size: 18px;
  padding: 20px;
}
.massage-bt {
  color: #000000;
  width: 100%;
  height: 150px;
  font-size: 18px;
  padding: 50px 20px 10px 20px;
}

.send_btn {
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
button.main_bt {
  background: white;
  border: 2px;
  color: black;
  width: 160px;
  height: 58px;
  font-size: 24px;
  padding-top: 3px;
}
button.main_bt a { color: black; }

@media (max-width: 575px) {
  .contact .titlepage h2::after {

    left: -8px;
    width: 281px;
  }
  .contact_bt { display: none;}
  .contact_section { padding-top: 30px;}
  .contact_main { background-size: cover;}
  .enput_section { width: 100%; }
}

@media (min-width: 576px) and (max-width: 767px) {
  .contact_main { background-size: cover;}
  .enput_section { width: 70%; }
  .contact .titlepage h2::after {
    left: -234px;
  width: 55%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact_main { background-size: cover;}
  .contact .titlepage h2::after {
    left: -403px;
    width: 41%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact_main { background-size: cover;}
  .contact .titlepage h2::after {
    left: -650px;
  width: 30%;
  }
}


/* Product Page */

.products {
	margin-top: 100px;
}

.products .filters {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

/* Latest Produtcs */

.product-item {
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.product-item .down-content {
	padding: 30px;
	position: relative;
}

.product-item .down-content a{
	list-style: none;
  text-decoration: none;
}

.product-item img {
	width: 100%;
	overflow: hidden;
}

.product-item .down-content h4 {
	font-size: 17px;
	color: black;
	margin-bottom: 20px;
}


.product-item .down-content p {
	margin-bottom: 20px;
}

.product-item .down-content span {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 13px;
	color: #f33f3f;
	font-weight: 500;
}

#form {
    margin: 8vh 20% 20vh 20%;
    padding: 2%;
}

#form .form-group .form-control {
    border-radius: 10px 10px 10px 10px;
    padding: 2px;
    border: 2px solid #faf9f8;
    margin: 1%;
}

#form .form-group button {
    text-decoration: none;
    margin-top: 20px;
    border: 2px solid black;
    color: black;
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 2px;
}

#form a{
    font-color: black;
    font-size: 18px;
}
